{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h1>Selling stocks</h1>
    <form action="/sell" method="post">
        <select name="stock" id="stock">
            <option value="" disabled selected>Pick a stock</option>
            {% for stock in stocks %}
                <option value="{{ stock['stock'] }}">{{ stock['stock'] }}</option>
            {% endfor %}
        </select>
        <input type="text" placeholder="Number of shares to sell" name="shares" autocomplete="off">
        <button type="submit">Sell</button>
    </form>
    
{% endblock %}
